*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	background-color: #ccc;
}
.Main{
	height: 100%;
	width: 100%;
    background-image:url("static/img/F1.jpg");
    background-size: cover;
    background-position: center;
	position: absolute; 
}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: rgba(255, 255, 255, 0.505);
	padding: 5px;
	overflow: hidden;
    border-radius: 30px;
    box-shadow:2px 2px 2px 2px #aea37d;
}


.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to bottom, #33ccff 0%, #66ff33 100%);
	border-radius: 30px;
	transition: .5s;
}
.social-icons{
	margin: 30px auto;
	text-align: center;
}
.social-icons img{
	width: 95px;
    margin: 0px 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
	opacity: 0.8;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	font-size: 1rem;
	font-weight: 700;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	font-size: large;
	font-weight: 700;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to bottom, #33ccff 0%, #66ff33 100%);
	border:0;
	outline: none;
	border-radius: 30px;
}
.check-box{
	margin: 30px 10px 30px 0;
}
span{
	color: #777;
	font-size: 12px;
	bottom: 65px;
	font-weight: 700;
	position: absolute; 
}
#login{
	left: 50px;
}
#register{
	left: 450px;
}